* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: transparent;
}

.logo {
    transition: 0.5s;
    margin-left: 20px;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-list-item {
    padding: 0 30px;
}

.navigation-list-item-link:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.navigation-list-item-link:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.navigation-list-item-link:hover {
    color: #BDAE82;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.navigation-container-switch {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-container-switch-en {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #BDAE82;
    background: none;
    height: 22px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.navigation-container-switch-slash{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 8px 0 9px;
}

.navigation-container-switch-ru {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    height: 22px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.burger {
    margin-left: 20px;
    display: none;
    cursor: pointer;
}

.burger.open {
    position:  fixed;
    top: 0;
    right: 0;
    z-index: 101;
    margin-right: 64px;
    margin-top: 20px;
    overflow: hidden;
}

.bar1, .bar2, .bar3 {
    width: 50px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 9px 0;
    transition: 0.4s;
}

.open .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px);
    height: 2px;
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    transform: rotate(45deg) translate(-5px, -7px);
    height: 2px;
}

.hero {
    margin: 160px 0 330px 80px;
    padding-right: calc(100% - 550px);
    background-color: transparent;

}

.hero-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.hero-title-paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}
.hero-button {
    height: 55px;
    width: 220px;
    background: #BDAE82;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    border: none;
    margin-right: 280px;
    margin-top: 25px;
    cursor:pointer;
    transition: 0.5s ease-out;
}

.hero-button:hover{
    color: #FFFFFF;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills-title::before {
    content: "";
    display: block;
    width: 274px;
    height: 2px;
    background: #BDAE82;
    left: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.skills-title {
    width: 700px;
    margin: 100px auto 60px auto;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    position: relative;
}

.skills-title::after {
    content: "";
    display: block;
    width: 274px;
    height: 2px;
    background: #BDAE82;
    right: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.skills-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.skills-items-item {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-items-item-image {
    width: 62px;
    height: 50px;
    transition: 0.3s;
}
.skills-items-item-image:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.skills-items-item-paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.skills-items-item-title {
    margin: 50px auto 20px auto;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-title::before {
    content: "";
    display: block;
    width: 238px;
    height: 2px;
    background: #BDAE82;
    left: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.portfolio-title {
    margin: 100px auto 60px auto;
    width: 700px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    position: relative;
}

.portfolio-title::after {
    content: "";
    display: block;
    width: 241px;
    height: 2px;
    background: #BDAE82;
    right: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.portfolio-buttons {
    margin: 0 auto 60px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.portfolio-buttons-button {
    transition: 0.5s;
    border: none;
    width: 220px;
    height: 55px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 0px;
    border: 2px solid #BDAE82;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    
}

.portfolio-buttons-button.pressed {
    color: #000;
    background-color: #bdae82;
}

.portfolio-buttons-button:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.portfolio-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.portfolio-images-image {
    max-width: 100%;
    height: auto;
}

.video-title::before {
    content: "";
    display: block;
    width: 273px;
    height: 2px;
    background: #BDAE82;
    left: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.video-title {
    margin: 100px auto 60px auto;
    width: 700px;
    height: 80px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    position: relative;
}

.video-title::after {
    content: "";
    display: block;
    width: 273px;
    height: 2px;
    background: #BDAE82;
    right: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.video-player-image {
    max-width: 100%;
    height: auto;
}

.video-player-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border-radius: 50%;
    overflow: hidden;
    border: none;
}

.video-player-button-image {
    height: 130px;
    width: 130px;
    transition: 0.5s;
} 

.video-player-button:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-title::before {
    content: "";
    display: block;
    width: 279px;
    height: 2px;
    background: #BDAE82;
    left: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.price-title {
    width: 700px;
    height: 80px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    position: relative;
    margin: 100px auto 60px auto;
}

.price-title::after {
    content: "";
    display: block;
    width: 279px;
    height: 2px;
    background: #BDAE82;
    right: 0;
    top: 50%;
    position: absolute;
    overflow-x: hidden;
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 100px auto;
}

.price-container-item {
    width: 450px;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-container-item-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 43px auto 20px auto;
}

.price-container-item-paragraph {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    margin: 0 auto 20px auto;
}

.price-container-item-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.price-container-item-list-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}

.price-container-item-button {
    height: 55px;
    width: 220px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    background: #BDAE82;
    border-radius: 0px;
    border: none;
    margin: 40px auto 43px auto;
    transition: 0.5s;
}

.price-container-item-button:hover{
    cursor:pointer;
    color: #FFFFFF;
}

.contacts {
    background: url(assets/img/contacts.jpg);
    background-repeat: no-repeat;
    background-size: auto 700px;
    background-position: center center;
    display: flex;
    padding: 60px 0 195px 0;
}

.contacts-container {
    margin-left: auto;
    margin-right: 90px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-container-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-bottom: 40px;
}

.contacts-container-input-email, .contacts-container-input-phone  {
    width: 450px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    padding-left: 20px;
    margin-bottom: 20px;
}

.contacts-container-input-email::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.contacts-container-input-phone::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.contacts-container-textarea {
    resize: none;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    color: #BDAE82;
    padding-left: 20px;
    margin-bottom: 30px;
}

.contacts-container-textarea::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.contacts-container-button {
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    background: #BDAE82;
    border: none;
    transition: 0.5s;
}

.contacts-container-button:hover {
    cursor: pointer;
    color: #FFFFFF;
}

footer {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-data {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    padding-left: 20px;
    word-spacing: 20px;
}

.footer-data-link:link, .footer-data-link:visited {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.footer-data-link:hover {
    color: #BDAE82;
}

.footer-link, .footer-link:link, .footer-link:visited {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    transition: 0.3s;
}

.footer-link:hover {
    color: #BDAE82;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 188px;
    height: 50px;
    margin-right: 20px;
}

.footer-social-list>a>img:hover {
    transition: 0.5s;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.navigation-list-mobile {
    position:  fixed;
    top: 0;
    right: -620px;
    background-color: #000000;
    z-index: 100;
    flex-direction: column;
    height: 100%;
    width: 620px;
    list-style-type: none;
    transition: 0.5s;
}

.navigation-shade {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

@media (max-width: 1400px) {
    .price-container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 912px) {
    .portfolio-buttons {
        width: 600px;
    }
}

@media (max-width: 768px) {
    body {
        background-size: auto 590px;
    }
    .logo {
        margin-left: 60px;
    }
    .navigation-list {
        display: none;
    }

    .navigation-list-mobile {
        list-style-type: none;
        padding-top: 134px;
    }

    .navigation-list-item-mobile {
        line-height: 73px;
        margin-left: 127px;
        margin-top: 16px;
    }

    .navigation-list-item-link:link {
        font-size: 35px;
    }

    .navigation-container-switch-slash{
        margin: 0 15px;
    }
    
    .hero {
        margin: 78px 0 152px 60px;
        padding-right: calc(100% - 450px);
    }

    .hero-title {
        font-size: 32px;
        line-height: 64px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .hero-title-paragraph {
        font-size: 20px;
        line-height: 24px;
    }

    .hero-button {
        margin-top: 60px;
        margin-right: auto;
    }

    .skills-title::before {
        width: 117px;
    }

    .skills-title{
        font-size: 32px;
        width: 364px;
        margin: 80px auto 36px auto;
    }

    .skills-title::after {
        width: 116px;
    }
     .skills-items {
        padding: 0 30px 0 40px;
    } 

    .skills-items-item {
        width: 300px;
    }
    .skills-items-item-paragraph {
        line-height: 22px;
    }

    .skills-items-item-title {
        margin: 30px auto 20px auto;
    }

    .portfolio-title::before {
        width: 90px;
    }

    .portfolio-title {
        font-size: 32px;
        width: 364px;
        margin: 80px auto 50px auto;
    }

    .portfolio-title::after {
        width: 89px;
    }

    .portfolio-buttons {
        width: 445px;
        margin-bottom: 60px;
    }

    .portfolio-images-image {
        width: auto;
        height: auto;
    }

    .video-title::before {
        width: 117px;
    }

    .video-title {
        font-size: 32px;
        width: 364px;
        margin: 80px auto 50px auto;
    }

    .video-title::after {
        width: 116px;
    }

    .video-player-button-image {
        height: 75px;
        width: 75px;
    }

    .price-title::before {
        width: 121px;
    }

    .price-title {
        width: 364px;
        font-size: 32px;
        margin: 80px auto 50px auto;
    }

    .price-title::after {
        width: 121px;
    }

    .price-container {
        gap: 50px;
    }

    .contacts {
        justify-content: center;
        padding-bottom: 111px;
    }

    .contacts-container {
        align-items: center;
        margin: 0;
    }

    .contacts-container-textarea {
        width: 450px;
    }

    footer {
        height: 190px;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-data {
        padding: 0;
    }

    .footer-social-list {
        margin-right: 0;
    }
    .navigation-container {
        margin-right: 64px;
    }

    .burger {
        display: inline-block;
    }


}

@media (max-width: 767px) {
    .skills-items {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 620px) {
    .navigation-list-mobile {
        align-items: center;
        width: 100%;
    }

    .navigation-list-item-mobile {
        margin: 0;
    }

    .burger.open {
        right: 50%;
        transform: translate(25px, 0);
        margin-right: 0;
        margin-left: 0;
    }
    
}

@media (max-width: 482px) {
    body {
        background-size: auto 320px;
    }

    .logo {
        margin-left: 20px;
    }

    .hero {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .hero-title {
        font-size: 18px;
        line-height: 20px;
    }

    .hero-title-paragraph {
        font-size: 14px;
    }

    .hero-button {
        margin-top: 20px;
        width: 100px;
        font-size: 14px;
        height: 40px;
    }

    .skills-title::before {
        width: 70px;
    }

    .skills-title {
        width: 200px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }

    .skills-title::after {
        width: 70px;
    }

    .skills-items {
        padding: 0;
        margin: 0;
    }

    .skills-items-item {
        width: 200px;
    }

    .portfolio-title::before {
        width: 45px;
    }

    .portfolio-title {
        width: 200px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .portfolio-title::after {
        width: 45px;
    }

    .portfolio-buttons {
        width: 200px;
    }

    .portfolio-buttons-button {
        width: 95px;
    }

    .video-title::before {
        width: 60px;
    }

    .video-title {
        width: 200px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .video-title::after {
        width: 60px;
    }

    .price-title::before {
        width: 60px;
    }

    .price-title {
        width: 200px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .price-title::after {
        width: 60px;
    }

    .price-container-item {
        width: 200px;
    }

    .price-container-item-button {
        width: 140px;
        margin: 20px auto 20px;
        font-size: 14px;
    }

    .price-container-item-list-item {
        font-size: 14px;
    }

    .contacts-container-input-email, .contacts-container-input-phone, 
    .contacts-container-textarea {
        width: 200px;
    }

    .contacts-container-button {
        width: 200px;
    }
}